.slogan {
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 16px;
  text-transform: uppercase;
  white-space: pre-wrap;
  @apply mb-2.5 md:text-base md:leading-[25px] md:tracking-[4.5px]
  lg:text-[17px] lg:leading-[32px] lg:tracking-[4px];
}

.title {
  letter-spacing: -0.3px;
  line-height: 46px;
  font-size: 46px;
  white-space: pre-wrap;
  font-family: var(--font-denton);
  font-weight: 800;
  @apply inline-block mb-5 p-1
  md:text-[64px] md:leading-[62px] md:tracking-[-0.6px]
  lg:text-[88px] lg:leading-[87px];
}

.description {
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 26px;
  white-space: pre-wrap;
  @apply max-w-[85%] mb-5 lg:px-4
  md:max-w-[100%] md:text-base md:leading-8 md:tracking-[0.3px]
  lg:text-xl lg:leading-9 lg:tracking-[0.6px];
}
